.container{
    margin: 0 auto 166px;
}
.header{
    background-image: url(/img/bg\ header.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.all_header{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_a{
    color: #FFF;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;
margin-right: 25px;
transition: 0.5s;
}
.header_a:hover{
    color: rgb(87, 83, 83);
}
.corth{
    border-right: 1px solid #FFF;
    height: 50px;
    padding-right: 10px;
}
.corth_img{
    position: absolute;
    top: 20px;
    right: 7px;
}
.phon_num{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;
}
.phon_p{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.all_btn {
    border: 1px solid #FF7400;
    transition: 0.3s;
    color: #f3eeee;
    background: #FF7400;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 14px 18px;
    transition: 0.5s;
}
.all_btn:hover{
    background: rgb(62, 61, 61);
    border: 1px solid rgb(62, 61, 61);

}
.block_1_tittle{
    color: #D67E35;
font-family: Tinos;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.block_1_h2{
    color: #D67E35;
font-family: Tinos;
font-size: 80px;
font-weight: 400;
margin-bottom: 12px;
}
.block_1_txt{
text-align: center;
position: absolute;
/* margin-top: 322px; */
padding: 154px 175px;
}
.block_1{
    position: relative;
}
.block_1_p{
color: white;
font-size: 18px;
font-weight: 400;
margin-bottom: 12px;
margin-bottom: 21px;
}
.block_1_p::after{
    position: absolute;
    width: 61px;
    height: 2px;
    background: #ffffff;
    top: 127px;
    left: 56px;
}
.block_1_p::before{
    position: absolute;
    width: 61px;
    height: 2px;
    background: #ffffff;
    top: 127px;
    left: 308px;
}